In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

### load and merge data

In [2]:
#data_path = "../data/raw" 
prod_data = pd.read_excel("../data/raw/Product_data.xlsx", sheet_name="Data")
trans_data = pd.read_excel("../data/raw/Transaction_data.xlsx", sheet_name="Data")

In [3]:
def merge_product_transactions(product_data=prod_data, transaction_data=trans_data):
    '''
    Returns a merged dataframe of product data and transaction data.
        Parameters:
            product_data (df): A dataframe containing product information
            transaction_data (df): A dataframe containing transaction information.
        Returns:
            merged_data (df): A dataframe containing prodcut and transaction data, merged on sku.
    '''
    merged_data = pd.merge(prod_data, trans_data, on="sku", how="right")
    return merged_data

In [4]:
merged_data = merge_product_transactions(product_data=prod_data, transaction_data=trans_data)

In [ ]:
merged_data.columns

### remove characters from the p_id_x / p_id_y

In [6]:
def fix_pid_cols(df):
    '''
    Removes extra characters from product ID (p_id) column.
        Parameters:
            df (df): Dataframe from which to remove extra characters from p_id column.
        Returns:
            df (df): A dataframe with extra characters removed from the product ID (p_id) column.
    '''
    merged_data['p_id'] = merged_data['p_id_y'].astype('str').str.replace(r'v\d', '')
    return df

In [ ]:
merged_data = fix_pid_cols(merged_data)

In [ ]:
merged_data['p_id'].isna().value_counts()

### which sub-department has the most transactions?

In [ ]:
merged_data.groupby(['sub_department_desc']).size().sort_values(ascending=False)

In [ ]:
# how many product types exist within knits and dresses?

print('unique products in knits (p_id): ' + str(merged_data[merged_data['sub_department_desc'] == 'W L/S KNITS']['p_id'].nunique()))
print('unique products in knits (p_id_x): ' + str(merged_data[merged_data['sub_department_desc'] == 'W L/S KNITS']['p_id_x'].nunique()))
print('unique products in knits (p_id_y): ' + str(merged_data[merged_data['sub_department_desc'] == 'W L/S KNITS']['p_id_y'].nunique()))
print('unique products in knits (style): ' + str(merged_data[merged_data['sub_department_desc'] == 'W L/S KNITS']['style'].nunique()))

print('unique products in dresses (p_id): ' + str(merged_data[merged_data['sub_department_desc'] == 'DRESSES']['p_id'].nunique()))
print('unique products in dresses (p_id_x): ' + str(merged_data[merged_data['sub_department_desc'] == 'DRESSES']['p_id_x'].nunique()))
print('unique products in dresses (p_id_y): ' + str(merged_data[merged_data['sub_department_desc'] == 'DRESSES']['p_id_y'].nunique()))
print('unique products in dresses (style): ' + str(merged_data[merged_data['sub_department_desc'] == 'DRESSES']['style'].nunique()))

In [9]:
merged_data[merged_data['sub_department_desc'] == 'W L/S KNITS'][['p_id', 'p_id_x', 'p_id_y', 'style']].drop_duplicates().sort_values('style')

         p_id    p_id_x    p_id_y                      style
363    578087       NaN  578087v1       SS PLTD DRSS NO LOGO
1835   578087       NaN    578087       SS PLTD DRSS NO LOGO
94     592442  592442.0    592442        TARTAN DRESS-DR-WVN
5053   601372  601372.0    601372                TIE MADISON
5378   592289  592289.0    592289             UNIVERSITY TIE
70     563814  563814.0    563814   VARICK SLIM FIT JEAN 32"
617    521130  521130.0    521130   WHITE AND BLUE SURFBOARD
111    586212  586212.0    586212  WHITE CUSTOM REGENT FC NK
1188   597049  597049.0    597049            WILLINGTON VEST
186    601329  601329.0    601329             WINONA TOP KNT
1731   532721  532721.0    532721           WOOL FRINGE WRAP
1425   543513  543513.0    543513                WOOL JACKET
15066  605924  605924.0    605924          WRAP DRESS-DR-WVN
7      532702  532702.0    532702                   WRISTLET
1954   605926  605926.0    605926     WWII CIGARETTE LIGHTER
2122   601363  601363.0    601363           XW LAUNCH JACKET
3108   601409  601409.0    601409       XW RLX INTAKE JACKET
10505  592312       NaN    592312            YANESSA SWEATER
16218  584257       NaN    584257          YELLOW POT MEDIUM
1736   597050  597050.0    597050               YOSEMITE WEB
1033   587133  587133.0    587133  ZIP POUCH-POUCH-SMOOTH LE
6277   532675  532675.0  532675v1                 ZIP WALLET
4      573497  573497.0    573497                 ZIP WALLET
69     563859  563859.0    563859  ZP CONT WLT-CONTINENTAL-P
13649  563859  563859.0  563859v2  ZP CONT WLT-CONTINENTAL-P
40     581857       NaN    581857        rivingt R SCN BZ/RM

### simplify colours

In [10]:
def simplify_colours(df):
    '''
    Simplifies colours present in the 'color' column of dataframe.
        Parameters:
            df (df): Dataframe in which to simplify colours.
        Returns: 
            df (df): A dataframe containing an extra column 'color_simple' that contains simplified colours.
    '''
    df['color_simple'] = df['color']

    contains_colour = ['Windsor Heather',  'Zoe Wash', 'Woodbury Strp Wh/Hydran/G',
       'Woodburn Patchwork', 'Wooster/Alley', 'Woodley Plaid',
       'York Pld/Oxford Pld Gld', 'Watercolor Print 1', 'Vintage Sailboat',
       'Wiggins', 'Winona Wash', 'Vintage Port Multi', 'Williams Wash'
       ,'Yucatan','Rose','Gold','Wine','Navy','Royal','Wisteria','Whiskey','Coral',
       'Lavender','Tan','Khaki','Camo','Taupe','Wildflower','Floral','Hibiscus','Silver',
       'Pepper','Vicuna','Washed Forest','Mauve','Camel','Light Indigo','Whyskey','Windsor Heather Multi Str',
       'Woodbridge Olive','Yuca Tan','Yanda Wash','White','Zebra','Blue','Cream','Navy','Grey','Orange',
       'Green','Red','Rose','Mauve','Purple','Black','Pink','Brown','Yellow']

    replace_colour = ['Other','Other','Other','Other','Other','Other','Other','Other','Other','Other','Other',
        'Other','Other','Other','Pink','Yellow','Purple','Blue','Blue','Purple','Brown','Red','Purple','Brown','Green',
        'Green','Brown','Floral','Floral','Pink','Grey','Grey','Brown','Green','Purple','Brown','Blue','Brown','Windsor Heather',
        'Green','Yucatan','White','White','Zebra','Blue','Cream','Navy','Grey','Orange','Green','Red','Rose','Mauve','Purple','Black',
        'Pink','Brown','Yellow']
        
    for ii in range(len(df['color_simple'])):
        for jj in range(len(contains_colour)):
            if contains_colour[jj] in df['color_simple'][ii]: 
                df['color_simple'][ii] = replace_colour[jj]
                break
    return df

In [ ]:
merged_data = simplify_colours(merged_data)

### select columns of interest, sub-category of interest and positive transactions

In [21]:
def select_columns_category(df):
    '''
    Creates a new dataframe that contains columns to take forward to the next step, rows matching the 'W L/S KNITS' subdepartment, 
    and rows deonoting positive transactions.
        Parameters:
            df (df): Dataframe from which to extract columns and rows.
        Returns:
            df (df): Dataframe containing columns and rows of interest.

    '''
    df = df[['p_id', 'transaction_date', 'sub_department_desc', 'label_desc', 'color_simple', 'quantity', 'amount']]
    df = df[df['sub_department_desc'] == 'W L/S KNITS']
    df = df[df['amount'] > 0]
    return(df)

In [22]:
merged_data_pruned_sd_knits = select_columns_category(merged_data)

In [ ]:
merged_data_pruned_sd_knits.shape

### write data to interim folder

In [20]:
merged_data_pruned_sd_knits.to_csv("../data/interim/transactions_sd_knits.csv", index=False)